<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="department">
    
	<resultMap id="departmentResultMap" type="com.ykko.entity.Department">
		<id column="deptno" property="deptno"/>
		<result column="dname" property="dname"/>
		<result column="loc" property="loc"/>
	</resultMap>
	
	<select id="findByDeptNo" resultMap="departmentResultMap">
		select deptno, dname, loc from dept where deptno = #{deptno}
	</select>
    
	<insert id="insert" parameterType="com.ykko.entity.Department">
		insert into dept
		(deptno, dname, loc)
		values
		(#{deptno}, #{dname}, #{loc})
	</insert>
    
</mapper>